*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin-top: 10px;
}

/* .wrapper{
    margin: 70px auto 0 auto;
    border: 1px solid;
    width: 50%;
    background: linear-gradient(to right, rgb(61, 59, 59), rgb(51, 104, 95));
    border-radius: 10px;
} */

.container{
    width: 350px;
    margin: 25px auto 25px auto;
    box-shadow: 0 0 20px 0px #000;
    font-size: 20px;
    height: 450px;
}

#display{
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.buttons{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.button{
    height: 60px;
    line-height: 50px;
}

.buttons > div{
    border: 1px solid #f4f4f4;
    cursor: pointer;
}
.buttons > div:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
